{% extends 'base.html' %}
{% load bootstrap3 %}
{% load set_var %}
{% load display_none %}
{% block content %}
    <form action="{% url 'sequencing_info' %}" method="POST">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading text-center" id="sample_pipe_title">
                上机信息，请确认INDEX并选择测序仪
            </div>
            {% if message %}
                <h4>
                    {{ message }}
                </h4>

            {% else %}
                <table class="table table-responsive">
                    <thead class="thead-default">
                    <tr>
                        <th width="15%">
                            样本名称
                        </th>
                        <th width="15%">
                            样本条码
                        </th>
                        <th width="15%">
                            INDEX1
                        </th>
                        <th width="15%">
                            INDEX2
                        </th>
                        <th width="20%">
                            测序仪
                        </th>
                        <th width="20%">
                            是否通过质控
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sample in sample_list %}
                        {% set step = sample.sample_pipe.sequencing_step %}
                        {% set lib_build = sample.sample_pipe.lib_build_step %}
                        <tr>
                            <td>
                                <a href="{% url 'sample_info' sample_id=sample.id %}">
                                    {{ sample.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'sample_info' sample_id=sample.id %}">
                                    {{ sample.barcode }}
                                </a>
                            </td>
                            <td>
                                {% if step.index1_seq %}
                                    <input type="text" title required name="index1_list"
                                           value="{{ step.index1_seq|display_none:'' }}">
                                {% else %}
                                    <input type="text" title required name="index1_list"
                                           value="{{ lib_build.index1_seq|display_none:'' }}">
                                {% endif %}
                            </td>
                            <td>
                                {% if step.index2_seq %}
                                    <input type="text" title name="index2_list"
                                           value="{{ step.index2_seq|display_none:'' }}">
                                {% else %}
                                    <input type="text" title name="index2_list"
                                           value="{{ lib_build.index2_seq|display_none:'' }}">
                                {% endif %}
                            </td>
                            <td>
                                <select name="sequencer_list" id="id_sequencer" title>
                                    {% for sequencer in step.SEQUENCER %}
                                        <option value="{{ sequencer.0 }}">
                                            {{ sequencer.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" title name="pass_qc_list" value="{{ sample.id }}"
                                       {% if step.pass_qc %}checked{% endif %}>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <input type="text" name="set_pipe_info" value=1 title hidden>
        </div>
        <p class="form-actions">
            <input type="submit" value="确认并录入" class="btn btn-primary">
            <a href="#"><input type="button" value="退回" class="btn btn-danger"></a>
        </p>
    </form>

{% endblock %}