<!--base.html-->
{% load static %}
{% load bootstrap3 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my lab</title>
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/lab.css' %}">
    {% if form %}
        {{ form.media }}
    {% endif %}
</head>

<body>
{% include 'navbar.html' %}
<div id="body" class="row">

    {#    <div class="content col-md-6 col-md-offset-3">#}
    {#    </div>#}
    <br>
    <br>
    <div class="content col-md-6 col-md-offset-3">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">

            </div>
        </div>
    </div>
</div>

</body>
</html>