<!--base.html-->
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my lab</title>
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lab.css' %}">
</head>

<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-md-1-4">
        <div class="pure-menu custom-restricted-width">
            <span class="pure-menu-heading">My Lab实验室样品管理系统</span>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">样本信息</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">患者信息</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
            </ul>
        </div>
    </div>


    <div class="content pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="https://coding.net/u/illion">Coding.Net</a></li>
                        <li><a href="{% url 'about_me' %}">About Me</a></li>
                        <li><a href="https://github.com/lozybean">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>