{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if lims_search %}
        <div class="well">
            <form action="{{ lims_search }}" method="GET" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label for="barcode_input" class="col-md-4 control-label">
                        根据条码从lims中拉取
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="barcode_input" name="barcode" title
                               class="form-control">
                    </div>
                    <button type="submit" class="col-md-1 btn btn-primary">拉取</button>
                </div>

            </form>
        </div>
    {% endif %}
    <div class="well">
        <form class="form-horizontal" role="form" action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {% bootstrap_field field field_class='col-md-8' label_class='col-md-2' %}
                </div>
            {% endfor %}
            <p class="form-actions">
                <input type="submit" value="录入" class="btn btn-primary">
                <a href="#"><input type="button" value="放弃" class="btn btn-danger"></a>
            </p>
        </form>
    </div>
{% endblock %}