<nav class="navbar navbar-default content col-md-6 col-md-offset-3">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
        <ul class="nav navbar-nav">
            <li><a href="{% url 'sample_list' %}">所有样品</a></li>
            <li><a href="{% url 'subject_list' %}">所有受检者</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    所有操作
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'sample_input' %}">样本录入</a></li>
                    <li><a href="{% url 'subject_input' %}">受检者信息录入</a></li>
                    <li><a href="{% url 'sample_pipe' step_name='dna_extract' %}">DNA提取任务</a></li>
                    <li><a href="{% url 'sample_pipe' step_name='lib_build' %}">文库构建任务</a></li>
                    <li><a href="{% url 'sample_pipe' step_name='sequencing' %}">上机测序任务</a></li>
                    <li><a href="{% url 'sample_pipe' step_name='bioinfo' %}">生物信息任务</a></li>
                    <li><a href="{% url 'sample_pipe' step_name='report' %}">报告撰写任务</a></li>
                    {#                    <li><a href="#">新项目录入</a></li>#}
                    {#                        <li role="separator" class="divider"></li>#}
                    {#                        <li><a href="#">Separated link</a></li>#}
                    {#                        <li role="separator" class="divider"></li>#}
                    {#                        <li><a href="#">One more separated link</a></li>#}
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="搜索样本条码">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-right navbar-nav">
            {% if is_auth %}
                <li><a href="{% url 'logout' %}">登出</a></li>
                <li><a href="{% url 'user_info' %}">我的信息/{{ is_auth.username }}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">登录</a></li>
            {% endif %}
        </ul>
        {#                        <ul class="nav navbar-nav navbar-right">#}
        {#                            <li><a href="#">Link</a></li>#}
        {#                            <li class="dropdown">#}
        {#                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
        {#                                   aria-expanded="false">Dropdown <span class="caret"></span></a>#}
        {#                                <ul class="dropdown-menu">#}
        {#                                    <li><a href="#">Action</a></li>#}
        {#                                    <li><a href="#">Another action</a></li>#}
        {#                                    <li><a href="#">Something else here</a></li>#}
        {#                                    <li role="separator" class="divider"></li>#}
        {#                                    <li><a href="#">Separated link</a></li>#}
        {#                                </ul>#}
        {#                            </li>#}
        {#                        </ul>#}
        {#        </div><!-- /.navbar-collapse -->#}
    </div><!-- /.container-fluid -->
</nav>