{% extends 'base.html' %}
{% load display_none %}
{% load date_format %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel panel-default">

        <div class="panel-heading text-center">基本信息</div>

        <table class="table table-responsive">
            <tr>
                <td class="col-md-3">样本名称：</td>
                <td>{{ sample.name }}</td>
            </tr>
            <tr>
                <td class="col-md-3">样本条码号：</td>
                <td>{{ sample.barcode }}</td>
            </tr>
            <tr>
                <td class="col-md-3">收样时间：</td>
                <td> {{ sample.date_receive|date_format|display_none:'未记录' }}</td>
            </tr>
            <tr>
                <td class="col-md-3">采样时间:</td>
                <td>{{ sample.date_sampling|date_format|display_none:'未记录' }}</td>
            </tr>
            <tr>
                <td class="col-md-3">受检者姓名：</td>
                <td><a href="{% url 'subject_info' subject_id=sample.subject.id %}">
                    {{ sample.subject.name }}</a></td>
            </tr>
        </table>
    </div>

    <form class="form-inline">

        <div class="form-group row">
            <label for="sample_status">样本状态：</label>
            <select class="form-control" id="sample_status">
                <option>{{ sample.get_status_display }}</option>
                {% for status in sample.STATUS %}
                    {% if status.0 != sample.status %}
                        <option value="{{ status.0 }}">{{ status.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading text-center">各步骤进度及时间</div>
        <table class="table table-responsive">
            <thead class="thead-default">
            <tr>
                <th width="30%" class="text-center">
                    状态
                </th>
                <th width="40%" class="text-center">
                    开始时间
                </th>
                <th width="40%" class="text-center">
                    结束时间
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    DNA提取
                </td>
                <td>
                    {{ sample.date_dna_extract_begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample.date_dna_extract_end|display_none:'未结束' }}
                </td>
            </tr>
            <tr>
                <td>
                    文库构建
                </td>
                <td>
                    {{ sample.date_lib_build_begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample.date_lib_build_end|display_none:'未结束' }}
                </td>
            </tr>
            <tr>
                <td>
                    上机
                </td>
                <td>
                    {{ sample.date_sequencing_begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample.date_sequencing_end|display_none:'未结束' }}
                </td>
            </tr>
            <tr>
                <td>
                    生物信息分析
                </td>
                <td>
                    {{ sample.date_bioinfo_begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample.date_bioinfo_end|display_none:'未结束' }}
                </td>
            </tr>
            <tr>
                <td>
                    报告撰写
                </td>
                <td>
                    {{ sample.date_report_begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample.date_report_end|display_none:'未结束' }}
                </td>
            </tr>
            </tbody>

        </table>
    </div>
{% endblock %}