{% extends 'base.html' %}
{% load display_none %}
{% load date_format %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel panel-default">

        <div class="panel-heading text-center">基本信息</div>

        <table class="table table-responsive" id="sample_info_table">
            <col width="20%">
            <col width="30%">
            <col width="20%">
            <col width="30%">

            <tr>
                <th>样本名称：</th>
                <td>{{ sample.name }}</td>
                <th>样本条码号：</th>
                <td>{{ sample.barcode }}</td>
            </tr>
            <tr>
                <th>受检者姓名：</th>
                <td><a href="{% url 'subject_info' subject_id=sample.subject.id %}">
                    {{ sample.subject.name }}
                </a></td>
                <th>样本状态：</th>
                <td>{{ sample_pipe.get_status_display }}</td>
            </tr>
            <tr>
                <th>所做项目：</th>
                <td>{{ sample.project }}</td>
                <th>送检医院：</th>
                <td>{{ sample.hospital|display_none:'-' }}</td>

            </tr>
            <tr>
                <th>样本类型：</th>
                <td>{{ sample.type }}</td>
                <th>样本量</th>
                <td>{{ sample.quantity }}</td>
            </tr>

            <tr>
                <th>收样时间：</th>
                <td>{{ sample.date_receive|date_format|display_none:'未登记' }}</td>
                <th>截止时间：</th>
                <td>{{ sample.date_deadline|date_format|display_none:'未登记' }}</td>
            </tr>
            <tr>
                <th>INDEX1</th>
                <td>{{ sample.index1_seq|display_none:'无' }}</td>
                <th>INDEX2</th>
                <td>{{ sample.index2_seq|display_none:'无' }}</td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">各步骤进度及时间
            （目前样本状态：<b>{{ sample_pipe.get_status_display }}</b>）
        </div>
        <table class="table table-responsive">
            <thead class="thead-default">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <tr>
                <th>
                    状态
                </th>
                <th>
                    开始时间
                </th>
                <th>
                    结束时间
                </th>
                <th>
                    操作人
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    DNA提取
                </th>
                <td>
                    {{ sample_pipe.dna_extract_step.begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample_pipe.dna_extract_step.end|display_none:'未结束' }}
                </td>
                <td>
                    {{ sample_pipe.dna_extract_step.operator|display_none:'无' }}
                </td>
            </tr>
            <tr>
                <th>
                    文库构建
                </th>
                <td>
                    {{ sample_pipe.lib_build_step.begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample_pipe.lib_build_step.end|display_none:'未结束' }}
                </td>
                <td>
                    {{ sample_pipe.lib_build_step.operator|display_none:'无' }}
                </td>
            </tr>
            <tr>
                <th>
                    上机
                </th>
                <td>
                    {{ sample_pipe.sequencing_step.begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample_pipe.sequencing_step.end|display_none:'未结束' }}
                </td>
                <td>
                    {{ sample_pipe.sequencing_step.operator|display_none:'无' }}
                </td>
            </tr>
            <tr>
                <th>
                    生物信息分析
                </th>
                <td>
                    {{ sample_pipe.bioinfo_step.begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample_pipe.bioinfo_step.end|display_none:'未结束' }}
                </td>
                <td>
                    {{ sample_pipe.bioinfo_step.operator|display_none:'无' }}
                </td>
            </tr>
            <tr>
                <th>
                    报告撰写
                </th>
                <td>
                    {{ sample_pipe.report_step.begin|display_none:'未开始' }}
                </td>
                <td>
                    {{ sample_pipe.report_step.end|display_none:'未结束' }}
                </td>
                <td>
                    {{ sample_pipe.report_step.operator|display_none:'无' }}
                </td>
            </tr>
            </tbody>

        </table>
    </div>
{% endblock %}