{% extends 'base.html' %}
{% load display_none %}
{% load date_format %}
{% load bootstrap3 %}
{% load set_var %}
{% load get_attr %}
{% load get_status %}
{% block content %}
    {% set sample_pipe = sample.sample_pipe %}
    {% if user.userprofile.subject_input %}
        {% set readonly = '' %}
    {% else %}
        {% set readonly = 'readonly' %}
    {% endif %}
    <form action="#">
        <div class="panel panel-default">
            <div class="panel-heading text-center">基本信息</div>
            <table class="table table-responsive" id="sample_info_table">
                <col width="20%">
                <col width="30%">
                <col width="20%">
                <col width="30%">

                <tr>
                    <th>样本名称：</th>
                    <td>
                        <input type="text" value="{{ sample.name }}"
                               class="form-inline" title name="name" required {{ readonly }}>
                    </td>
                    <th>样本条码号：</th>
                    <td>
                        <input type="text" value="{{ sample.barcode }}"
                               class="form-inline" title name="barcode" required {{ readonly }}>
                    </td>
                </tr>
                <tr>
                    <th>受检者姓名：</th>
                    <td>
                        {{ sample.subject.name }}
                    </td>
                    <th>样本状态：</th>
                    <td>{{ sample_pipe.get_status_display }}</td>
                </tr>
                <tr>
                    <th>所做项目：</th>
                    <td>
                        {{ sample.project }}
                    </td>
                    <th>送检医院：</th>
                    <td>
                        <input type="text" value="{{ sample.hospital|display_none:'-' }}"
                               class="form-inline" title name="barcode" required {{ readonly }}>
                    </td>
                </tr>
                <tr>
                    <th>样本类型：</th>
                    <td>
                        {{ sample.type }}
                    </td>
                    <th>样本量</th>
                    <td>
                        <input type="text" value="{{ sample.quantity }}"
                               class="form-inline" title name="quantity" required {{ readonly }}>
                    </td>
                </tr>

                <tr>
                    <th>收样时间：</th>
                    <td>{{ sample.date_receive|date_format|display_none:'未登记' }}</td>
                    <th>截止时间：</th>
                    <td>{{ sample.date_deadline|date_format|display_none:'未登记' }}</td>
                </tr>
                <tr>
                    <th>
                        检测申请单：
                    </th>
                    <td>
                        {% if sample.has_request_note %}
                            有
                        {% else %}
                            无
                        {% endif %}

                    </td>
                    <th>
                        知情同意书：
                    </th>
                    <td>
                        {% if sample.has_informed_note %}
                            有
                        {% else %}
                            无
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        INDEX1：
                    </th>
                    <td>
                        {{ sample.sample_pipe.lib_build_step.index1_seq|display_none:'' }}
                    </td>
                    <th>
                        INDEX2：
                    </th>
                    <td>
                        {{ sample.sample_pipe.lib_build_step.index2_seq|display_none:'' }}
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <p class="form-actions">
        <a href="{% url 'add_sample_info' pk=sample.id %}">
            <input type="button" value="修改样本信息" class="btn btn-danger">
        </a>
        <a href="{% url 'lib_build_info' sample_id=sample.id %}">
            <input type="button" value="修改INDEX信息" class="btn btn-danger">
        </a>
    </p>
    <div class="panel panel-default">
        <div class="panel-heading text-center">各步骤进度及时间
            （目前样本状态：<b>{{ sample_pipe.get_status_display }}</b>）
        </div>
        <table class="table table-responsive">
            <thead class="thead-default">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <tr>
                <th>
                    状态
                </th>
                <th>
                    开始时间
                </th>
                <th>
                    结束时间
                </th>
                <th>
                    操作人
                </th>
            </tr>
            </thead>
            <tbody>

            {% for step_name in sample_pipe.STEPS %}
                {% with sample_pipe|get_attr:step_name as step %}
                    <tr>
                        <th>
                            {{ step_name|get_status }}
                        </th>
                        <td>
                            {% if step.begin %}
                                <a href="{% url 'query_sample_by_date' step=step_name status='begin' year=step.begin.year month=step.begin.month day=step.begin.day %}">
                                    {{ step.begin|date_format|display_none:'未开始' }}
                                </a>
                            {% else %}
                                {{ step.begin|date_format|display_none:'未开始' }}
                            {% endif %}
                        </td>
                        <td>
                            {% if step.end %}
                                <a href="{% url 'query_sample_by_date' step=step_name status='end' year=step.end.year month=step.end.month day=step.end.day %}">
                                    {{ step.end|date_format|display_none:'未结束' }}
                                </a>
                            {% else %}
                                {{ step.end|date_format|display_none:'未结束' }}
                            {% endif %}
                        </td>
                        <td>
                            {{ step.operator.get_full_name|display_none:'无' }}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}