{% extends 'base.html' %}
{% load display_none %}
{% load date_format %}
{% load set_var %}
{% load get_attr %}
{% block content %}
    {% set user_profile = user.userprofile %}
    <div class="panel panel-default">

        <div class="panel-heading text-center">我的信息</div>

        <table class="table table-responsive" id="sample_info_table">
            <col width="20%">
            <col width="30%">
            <col width="20%">
            <col width="30%">

            <tr>
                <th>用户名：</th>
                <td>{{ user.username }}</td>
                <th>部门/小组：</th>
                <td>{{ user_profile.department }}</td>
            </tr>
            <tr>
                <th>姓名：</th>
                <td>{{ user.get_full_name }}</td>
                <th>邮件：</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>主要任务：</th>
                <td>
                    <form action="{% url 'user_info' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-inline">
                            <select name="primary_task" id="id_primary_task" title class="form-control">
                                <option value="{{ user_profile.primary_task }}">
                                    {{ user_profile.get_primary_task_display }}
                                </option>
                                {% for task in user_profile.TASK_NAMES %}
                                    {% if task.0 != user_profile.primary_task %}
                                        <option value="{{ task.0 }}">
                                            {{ task.1 }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-warning">
                        </div>
                    </form>
                </td>
                <th></th>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">

        <div class="panel-heading text-center">权限列表</div>
        <ul>
            {% for permission in  user_profile.PERMISSIONS %}
                {% if user_profile|get_attr:permission.0 %}
                    <li class="list-inline list-group-item-success">
                        {{ permission.1 }}
                        <span class="glyphicon glyphicon-ok"></span>
                    </li>
                {% else %}
                    <li class="list-inline list-group-item-danger">
                        {{ permission.1 }}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}